.signInContainer {
  height: fit-content;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #e4e4e4;
  .ant-row {
    margin-bottom: 20px;
    .col {
      padding-right: 5px
    }
    .col:last-child {
      padding-right: 0;
    }
  }
  .ant-row:last-child {
    margin-bottom: 0; 
  }
}
