input.input {
  padding: 10px 10px;
  font-size: 1em;
  outline: none;
  border: 1px solid rgb(212, 212, 212);
  color: #444;
  background-color: rgb(241, 241, 241);
}

label.label {
  display: block;
  margin-bottom: 4px;
}

input.input.success {
  border: 1px solid rgb(51, 145, 79);
  color: rgb(51, 145, 79);
  background-color: rgb(109, 207, 139);
}

input.input.error {
  border: 1px solid rgb(173, 50, 33);
  color: rgb(173, 50, 33);
  background-color: rgb(207, 104, 104);
}