.segment {
  min-width: 100px;
  .title {
    padding: 14px;
    background-color: red;
    .titleText {
      font-weight: bolder;
    }
  }
  .content {
    background-color: green;
  }
  .actionsWrapper {
    background-color: blue;
    .actionItem {
    
    }
  }
  .container {
    padding: 13px;
  }
}