%image {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.imageWrapper {
  position: relative;
  user-select: none;
  .image {
    @extend %image;
  }
  .loading {
    @extend %image;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 20px;
    }
  }
  .icon {
    position: absolute;
    right: 0 - (25%/2);
    bottom: 0 - (25%/2);
    background-color: #1890ff;
    // padding: 5px;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    border: 2px solid #fcfcfc;
    font-size: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@for $i from 1 through 10 {
  .imageWrapper.x#{$i} { // .x1 ... x10
    width: 20px * $i;
    height: 20px * $i;
  }
}
