.postInputArea {
  border: none;
  outline: none;
  background-color: transparent;
  resize: none;
  padding-left: 20px;
  width: 100%;
  font-size: 2em;

  &::placeholder {
    opacity: 0.4;
  }
}

.postSection {
  border-bottom: 1px solid #eaeaea;
}
